{% extends 'widgets/widget_template.html' %}
{% load custom_template %}

{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%;
background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block title1 %}{{ title1 }}{% endblock %}
{% block title2 %}{{ title2 }}{% endblock %}
{% block custom_tools %}
{% endblock %}

{% block widget_content %}

<style>
    .microsoftintune-app a:hover {
        text-decoration: underline;
    }

    .microsoftintune-app .wf-table-vertical {
        width: initial;
        font-size: 12px;
    }

    .microsoftintune-app .wf-table-vertical td {
        padding: 5px;
        border: 1px solid;
    }

    .microsoftintune-app .wf-table-horizontal {
        margin-right: 10px;
        width: initial;
        border: 1px solid;
        font-size: 12px;
    }

    .microsoftintune-app .wf-table-horizontal th {
        text-align: center;
        border: 1px solid;
        text-transform: uppercase;
        font-weight: normal;
        padding: 5px;
    }

    .microsoftintune-app .wf-table-horizontal td {
        border: 1px solid;
        padding: 5px;
        padding-left: 4px;
    }

    .microsoftintune-app .wf-h3-style {
        font-size: 20px
    }

    .microsoftintune-app .wf-h4-style {
        font-size: 16px
    }

    .microsoftintune-app .wf-h5-style {
        font-size: 14px
    }

    .microsoftintune-app .wf-subheader-style {
        font-size: 12px
    }
</style>
<div class="microsoftintune-app" style="overflow: auto; width: 100%; height: 100%; padding-left:10px; padding-right:10px">
    <!-- Main Div -->
    {% for result in results %}
    <!-- loop for each result -->
    <!------------------- For each Result ---------------------->
    {% if not result.data %}
        <h4 class="wf-h4-style">No data found</h4>
    {% else %}
        <h3 class="wf-h3-style">List of Devices</h3>
            <table class="phantom-table dataTable">
                <thead>
                    <th class="widget-th">Device User Name</th>
                    <th class="widget-th">Device Name</th>
                    <th class="widget-th">Device Id</th>
                    <th class="widget-th">Enrolled DateTime</th>
                    <th class="widget-th">Last Sync DateTime</th>
                </thead>
                <tbody>
                        {% for curr_data in result.data %}
                            <tr>
                                <td class="widget-td" >
                                    {{ curr_data.userDisplayName  }}
                                </td>
                                <td class="widget-td" >
                                    {{ curr_data.deviceName  }}
                                </td>
                                <td class="widget-td" >
                                    {{ curr_data.id  }}
                                </td>
                                <td class="widget-td" >
                                    {{ curr_data.enrolledDateTime  }}
                                </td>
                                <td class="widget-td" >
                                    {{ curr_data.lastSyncDateTime  }}
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        <br>
    {% endif %}
    <br>
    {% endfor %}
    <!-- loop for each result end -->
</div> <!-- Main Div -->

<script>
    $.extend(true, $.fn.dataTable.defaults, {
        "searching": true,
        "bLengthChange": false,
        "language": {
          "paginate": {
            "previous": "<i class='fa fa-angle-left fa-lg'></i>",
            "next": "<i class='fa fa-angle-right fa-lg'></i>"
          },
          "emptyTable": "No data available"
        },
        "dom": '<"top">rt<"bottom"p><"clear">',
        drawCallback: function(settings) {
          var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
          pagination.toggle(this.api().page.info().pages > 1);
        }
      });
      $('.dataTable').DataTable();
</script>

{% endblock %}
<!-- Main Start Block -->
